<hr>

<p style="font-weight: bold;">
  If you find my tech insights helpful, entertaining, or just plain cool, consider treating me to a virtual coffee and fuel my coding
  adventures:
</p>

<div id="bmc-btn-div">
  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="alexandrecastro"
    data-color="#2e2e2e" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff"
    data-coffee-color="#FFDD00"></script>
</div>
